.page-header.navbar .menu-toggler {
     background-image: none !important;
}
.validate-message {
    font-size: 17px;
    color: #e73d4a;
    display: none;
}
.page-404-3 .error-404 {
    padding: 0 0 50px 50px !important;
}
.custom-datatable .DTTT.btn-group, .custom-datatable .dataTables_filter {
    display: none !important;
}
.custom-datatable .datatable-footer {
    text-align: center;
}